<div class="pull-left">
<div>
  <h1 class="h1-strong">Hola, {{identity.name}}</h1>
</div>
<div id="user-card" class="card">
  <div class="row">
    <div class="col-lg-3">
      <div class="avatar">
        <img src="{{url+'get-image-user/'+identity.image}}" alt="imagen" *ngIf="identity.image">
        <img src="../../../assets/users.png" alt="imagen" *ngIf="!identity.image">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="name-surname">
        <b><a href="#">{{identity.name + ' ' + identity.surname}}</a></b>
        <p class="nickname" >{{identity.nick}}</p>
      </div>
    </div>
  </div>

  <div class="stats" *ngIf="stats">
    <div class="following-data">
      <a href="#">
        <span class="label-stats">
          Siguiendo
        </span>
        <span class="number-stats">
          {{stats.following}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a href="#">
        <span class="label-stats">
          Seguidores
        </span>
        <span class="number-stats">
          {{stats.followed}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a href="#">
        <span class="label-stats">
          Publicaciones
        </span>
        <span class="number-stats">
          {{stats.publications}}
        </span>
      </a>
    </div>

  </div>
</div>
</div>

<!-- FORMULARIO DE PUBLICACIONES -->
<div id="new-publication" class="col-lg-12 card" style="margin-top:10px;">
  <div class="alert alert-success" *ngIf="status=='success'">
    Publicación enviada correctamente
  </div>
  <div class="alert alert-success" *ngIf="status=='error'">
    Publicación no enviada
  </div>
  <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm); sendPublication($event)" class="col-lg-10">
    <p>
      <label>¿Que estas pensando hoy?</label>
      <textarea name="text" #text="ngModel" [(ngModel)]="publication.text"
      class="form-control" required>
      <span *ngIf="!text.valid && text.touched">
        El texto de la publicacion es obligatorio
      </span>
    </textarea>
    </p>
    <p>
      <label>Sube tu foto</label>
      <input type="file" placeholder="Subir imagen">
    </p>
    <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid">
  </form>
</div>
