<div class="navigation col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #de3038;">
          <a class="navbar-brand" href="#">{{title}}</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="identity">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
                  <span class="fas fa-home"></span>
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['active']">
                  <span class="fas fa-th-list"></span>
                  Timeline
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" [routerLink]="['/gente']" [routerLinkActive]="['active']">
                  <span class="fas fa-user"></span>
                  Gente
                </a>
              </li>
            </ul>
            <form class="form-inline my-lg-0">
                <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
                  <li>
                    <a [routerLink]="['/login']" [routerLinkActive]="['active']">
                      <span class="fas fa-user"></span>
                      Login
                    </a>
                  </li>
                  <li>
                  <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
                    <span class="fas fa-th-list"></span>
                    Registro
                    </a>
                  </li>
                  </ul>
            </form>
            <ul class="nav navbar-nav navbar-right" *ngIf="identity">
              <li class="avatar">
                <!-- Cargar imagen de usuario-->
                <img src="{{url+'get-image-user/'+identity.image}}" alt="imagen" *ngIf="identity && identity.image">
              </li>
              <li class="dropdown">
                  <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{identity.name}} <span class="caret"></span>
                  </a>
                    <ul class="dropdown-menu" id="menu" *ngIf="identity" style="color: #615858;">
                      <li>
                        <a href="#">
                          <span class="fas fa-th-list"></span>
                          Mi perfil
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['mis-datos']">
                          <span class="fas fa-th-list"></span>
                          Mi datos
                        </a>
                      </li>
                      <li>
                        <a class="pointer" (click)="logout()">
                          <span class="fas fa-th-list"></span>
                          Cerrar sesion
                        </a>
                      </li>
                    </ul>
              </li>
            </ul>
          </div>
    </nav>
</div>

<router-outlet></router-outlet>

