<div class="col-lg-10">
  <h3>{{title}}</h3>
  <div class="alert alert-success" *ngIf="status == 'success' " >
    Mensaje enviado correctamente,miralo en
    <a [routerLink]="['/mensajes/enviados']">tus mensajes enviados</a>
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error' " >
    No se ha podido enviar el mensaje correctamente,intentalo mas tarde
  </div>
  <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
    <div class="form-group">
      <label for="">Para:</label>
      <select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver"
      class="form-control" required>
        <option *ngFor="let follow of follows" value="{{follow.user._id}}">
          {{ follow.user.name + ' ' + follow.user.surname +'('+follow.user.nick+')'}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Mensaje:</label>
      <textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control"
      required ></textarea>
      <span *ngIf="!text.valid && text.touched">
        El mensaje es obligatorio
      </span>
    </div>
    <div class="form-group">
      <input type="submit" value="{{title}}" class="btn btn-success">
    </div>

  </form>
</div>
