/* You can add global styles to this file, and also import other style files */
/*General*/
.h1-strong{
  font-size: 35px;
  font-weight: bold;
  margin-left: 13px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.navigation{
  padding: 0px !important;
}

.navigation .navbar{
  border-radius: 0px !important;
}
.navigation .navbar{
  color: white;
}

.pointer{
  cursor: pointer;
}
.navigation .navbar #menuUsuario ul li:hover{
  background: #ebe4e4 !important;
}
.navigation .navbar #menuUsuario ul li a{
  text-decoration: none;
}

.menu-horizontal ul li{
  margin-right: 10px !important;
}
.jumbotron{
  margin: 25px;
  border-radius: 5px;
  text-align: center;
}
.navigation .avatar{
  width: 35px;
  height: 35px;
  border-radius: 100px;
  overflow: hidden;
  margin-left: 2px;
}
.navigation .avatar img{
  height: auto;
  width: 35px;
}

/* Gente */
.item-user .image-user,
.item_publication .image-user{
  width: 75px;
  height: 75px;
  border-radius: 100px;
  overflow: hidden;
  margin-left: 15px;
}

.item-user .image-user img,
.item_publication .image-user img{
  width: 80px;
}

.item-user .user-name{
  margin-top: 10px;
}

.item-user .user-name #nickname{
  color: #969393;
}

.item-user .user-name .name-surname a{
  color: #444;
  font-weight: bold;
}

/* SIDEBAR */

#user-card{
  padding-top: 25px;
}

#user-card .avatar{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin-left: 5px;
}

#user-card .avatar img{
  width: 100%;
  height: 100%;
}

#user-card .name-surname .nickname{
  color: #969393;
}

#user-card .label-stats,
#user-card .number-stats{
  display: block;
  text-align: center;
}
#user-card .label-stats{
  font-weight: bold;
  color: #555;
}

#user-card .number-stats{
  font-weight: bold;
  color:green;
}

#user-card .stats a:hover{
  text-decoration: none;
}

#user-card .stats a:hover .number-stats{
  color: #cc1717;
}

#user-card .following-data{
  float: left;
  margin-left: 25px;
  margin-top: 15px;
  border-right: 2px solid #ccc;
}
#user-card .following-data:firs-child{
  padding-left: 5px;
}

#user-card .following-data:last-child{
  border: none;
}

/*TIMELINE*/

/* #publications{
  min-height: 500px;
} */

#publications .date{
  color: grey;
}
